.App {
  height: auto;
  min-height: 100vh;
  width: 100vm;
  background-color: rgb(0, 0, 0);
  color: rgb(162, 162, 162);
  padding: 0px;
  font-family: "CustomFont";
  font-size: larger;
  scrollbar-width: none;
}
.App::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.body {
  margin: 0;
  padding: 20px;
}

.bodyOld {
  text-align: left;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer {
  margin-bottom: 0px;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  bottom: 0px;
  display: flex;
}

.directory-buttons {
  font-weight: bolder;
  color: rgb(162, 162, 162);
  background-color: transparent;
  border-width: 0;
  font-family: "CustomFont";
  font-size: larger;
}
.directory-buttons-active {
  font-weight: bolder;
  color: rgb(0, 255, 0);
  background-color: transparent;
  border-width: 0;
  font-family: "CustomFont";
  font-size: larger;
}

.guide {
  overflow: hidden;
  padding-bottom: 150px;
  padding-left: 20px;
}
.settings {
  overflow: hidden;
  padding-bottom: 150px;
  padding-left: 20px;
}
.train {
  overflow: hidden;
  padding-bottom: 150px;
}

.item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
.item-question {
  white-space: pre-wrap;
}
.item-answer {
  color: rgb(0, 255, 0);
  white-space: pre-wrap;
}
.topic {
  margin: 0;
  padding: 0;
}
.menu {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 8px 15px;
  border: 1px solid rgb(162, 162, 162);
  background-color: black;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  gap: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@font-face {
  font-family: "CustomFont";
  src:
    url("./assets/w95fa.woff2") format("woff2"),
    url("./assets/w95fa.woff") format("woff");
  font-weight: 400;
  font-style: bolder;
}
.topics-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section {
    display: flex;
    align-items: flex-start;
}

.section-title {
    flex: 0 0 80px; 
    text-align: right; 
    margin-right: 10px; 
}

.modes-container,
.actions-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.answer {
    display: flex;
    align-items: center;
    gap: 10px;
}